<!doctype html>
<html lang="pt-br">
<head>
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
  <meta name="theme-color" content="#000000">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Senasoft</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <main class="main" style="padding:18px 18px 26px;">
    <header class="header">
      <div class="header-left">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Senasoft Informática">
      </div>

      <div class="header-right">
        <a class="btn" href="{{ url_for('gerador') }}">Voltar</a>
        <a class="btn" href="{{ url_for('proposta') }}">Proposta</a>
        <a class="btn" href="{{ url_for('recentes') }}">Recentes</a>
        <a class="btn" href="{{ url_for('promissoria') }}">Promissória</a>
      </div>
    </header>

    <section class="container">
      {% block content %}{% endblock %}
    </section>

    <footer class="footer">
      Desenvolvido por Mateus Sena — Senasoft Informática
    </footer>
  </main>
</body>
</html>